footer
	background: black
	padding: $double-unit-layout 0 160px 0

	nav
		ul
			+no-bullet
			width: 100%

			li
				padding: 0 $base-unit-layout
				display: inline
				a
					font-size: rem(18px)
					text-decoration: none
					color: white
					font-weight: 600
					+respond-to-size($phone)
						display: block
						margin-bottom: $unit-layout