=no-bullet
	list-style-type: none
	margin: 0
	padding: 0

$color-brand-secondary: #04F799
$color-keyline: #E1E5E6 

nav#top-nav
	$nav-height: $quadruple-unit-layout + $double-unit-layout + $half-unit-layout

	+z-index(nav)
	+respond-to-size($phone)
		background: black
		border-bottom: 0

	position: fixed
	width: 100%
	
	background: white
	border-bottom: 1px solid $color-keyline
	.container-narrow
		height: $nav-height
		display: flex
		align-items: center
	.logo
		display: block
		width: 50px
		height: 50px
		margin-right: $double-unit-layout
		background:
			color: transparent
			position: center center
			repeat: no-repeat
			image: url("#{$image-base}/logo/glyph.svg")


	button
		+transition(opacity .25s)
		
		opacity: 0
		position: absolute
		right: rem(55px) / 2
		top: 50%
		margin: -(rem(55px) / 2) 0 0
		
		&.active
			opacity: 1

	ul
		+clearfix
		+no-bullet
		width: 100%
		height: 100%
		margin-bottom: 0
		+respond-to-size($phone)
			display: none

		li
			+transition(background .25s)
			height: 100%
			display: inline-block
			&:not(:last-child)
				margin-right: $double-unit-layout

			a
				@extend .text-center

				text-decoration: none
				color: black
				display: block
				height: 100%
				line-height: $nav-height
				font-weight: 600
				font:
					size: rem(24px)
				
				+hover
					color: $color-brand-secondary

