.container-full-screen, .container-narrow
	+clearfix
	@extend .block-center

	width: 100%

.container-narrow
	width: 80%
	max-width: rem(800px)

footer
	background: $color-black
	color: white
	font-size: rem(12px)
	text-align: center
	padding: $triple-unit-layout $base-unit-layout

	nav
		max-width: rem(550px)
		margin: 0 auto

		ul
			width: 100%
			display: table

			li
				padding: 0 $base-unit-layout
				display: table-cell