#mc-embedded-subscribe-form
	display: none

.page-content
	padding: $double-unit-layout 0

%container
	+clearfix
	@extend .block-center
	width: 100%
	padding: 0 $double-unit-layout

.container-narrow
	@extend %container
	max-width: rem(600px)

.container-wide
	@extend %container
	max-width: rem(1000px)

.container-fluid
	@extend %container
	width: 100%
