.masthead
  text-align: center
  padding: 40px 0

.columns
  columns: 2

.quote
  background: $color-brand-secondary
  text-align: center
  p
    font-size: rem(42px)
    font-weight: 600

  a
    color: inherit

  small
    text-transform: uppercase
    letter-spacing: 1px
    font-weight: 600

.description
  color: #B3B3B3
  font-size: rem(14px)
  font-weight: 600

.page-welcome
  padding-top: 0

  .small-heading
    font-size: rem(18px)
    text-transform: uppercase
    letter-spacing: 2px
    font-weight: 600
    margin: 0

  h2
    font-size: rem(48px)
    font-weight: 700

  section
    &#masthead
      height: 100vh
      text-align: center

      h1
        line-height: 1.5
        font:
          weight: 700
          size: rem(60px)

      h2
        color: #8F8F8F
        font:
          size: rem(24px)

    &#sectionStory
      @extend .text-center

      padding: ($quadruple-unit-layout + $base-unit-layout) 0
      background: $color-brand-secondary
      button
        background: #0DA96D
        color: white

      h2
        font:
          weight: 700

      p
        max-width: rem(700px)
        margin: 0 auto $double-unit-layout
        font:
          family: $font-family-custom
          size: rem(20px)

    &#sectionSpeakers
      padding: ($quadruple-unit-layout + $base-unit-layout) 0

      ul
        margin-top: $quadruple-unit-layout

        > .flex-item
          margin-bottom: $triple-unit-layout

          +respond-to-size($phone)
            width: 50%
          // &:nth-child(2), &:nth-child(5), &:nth-child(8)
          // 	padding-top: 60px
          // 	+respond-to-size($phone)
          // 		padding-top: 0

          img
            +transition(all .15s)
            cursor: pointer
            width: 100%
            max-width: rem(150px)
            border-radius: 100%
            margin: 0 auto $unit-layout
            background:
              position: center center
              size: cover
              repeat: no-repeat
            &:hover
              +transform(scale(1.1, 1.1))
            +respond-to-size($phone)
              max-width: rem(200px)

          strong
            display: block
            font:
              size: rem(20px)

          small
            display: block
            color: $color-grey
            font-family: $font-family-custom
            padding: $half-unit-layout 0

            a
              em
                opacity: 0

              display: block
              margin-top: $half-unit-layout
              width: 100%
              height: 25px
              color: inherit
              background:
                color: transparent
                position: center center
                repeat: no-repeat
                size: auto 100%

              &.google-chrome-team
                background:
                  image: url('#{$image-base}/speakers/companies/google.png')

              &.gosquared
                background:
                  image: url('#{$image-base}/speakers/companies/gosquared.png')
                  size: auto 85%

              &.government-digital-service
                background:
                  image: url('#{$image-base}/speakers/companies/governmentds.png')
                  size: auto 100%

              &.hire-space
                background:
                  image: url('#{$image-base}/speakers/companies/hirespace.png')

              &.onefinestay
                background:
                  image: url('#{$image-base}/speakers/companies/onefinestay.png')

              &.swiftkey
                background:
                  image: url('#{$image-base}/speakers/companies/swiftkey.png')
                  size: auto 85%

              &.the-dots
                background:
                  image: url('#{$image-base}/speakers/companies/thedots.png')

              &.transferwise
                background:
                  image: url('#{$image-base}/speakers/companies/transferwise.png')
                  size: auto 80%

              &.yplan
                background:
                  image: url('#{$image-base}/speakers/companies/yplan.png')
                  size: auto 70%

    &#sectionSponsors
      ul
        @extend .unstyled
        +clearfix

        li
          float: left
          width: 20%

          a
            @extend .text-center

            display: block
            height: $triple-unit-layout * 2
            line-height: $triple-unit-layout * 2
            background:
              color: transparent
              image: url('#{$image-base}/sponsors/adbrain.png')
              position: center center
              repeat: no-repeat
              size: 80% auto

            strong
              opacity: 0

          &#balsamiq
            a
              background:
                image: url('#{$image-base}/sponsors/balsamiq.png')
                size: 70% auto

          &#deskbeers
            a
              background:
                image: url('#{$image-base}/sponsors/deskbeers.jpg')
                size: 70% auto

          &#gocardless
            a
              background:
                image: url('#{$image-base}/sponsors/gocardless.png')
                size: 90% auto

          &#hirespace
            a
              background:
                image: url('#{$image-base}/sponsors/hirespace.png')

          +respond-to-size(800px)
            float: none
            width: 100%

            a
              background:
                size: auto 50% !important

            &#gocardless
              a
                background:
                  size: auto 35% !important

    &#sectionTopics
      padding: ($quadruple-unit-layout + $base-unit-layout) 0
      border-bottom: 1px solid $color-keyline
      text-align: center

      article
        text-align: center

        &:not(:last-child)
          &:after
            display: block
            margin: $double-unit-layout auto
            background: #e5e5e5
            width: 100px
            height: 5px
            content: ""

        p
          margin: 0
          line-height: 1.4
          font:
            family: $font-family-custom

        h4
          color: $color-brand-secondary
          font:
            size: rem(22px)
            weight: 700

        .bio
          +clearfix

          img
            float: left
            max-height: 50px

          aside
            float: left
            padding: $quarter-unit-layout 0 0 $base-unit-layout

            strong
              display: block
              margin-bottom: $quarter-unit-layout

            small
              font-family: $font-family-custom

    &#sectionVenue
      padding: ($quadruple-unit-layout + $base-unit-layout) 0
      background:
        image: url("#{$image-base}/background/bg-venue.jpg")
        size: cover
        position: center center