.page-welcome
	h2
		font-size: rem(48px)
		font-weight: 700
	section
		&#masthead
			height: 100vh

			h1
				line-height: 1.5
				font:
					weight: 700
					size: rem(60px)

			h2
				color: #8F8F8F
				font:
					size: rem(24px)

			small
				font-family: $font-family-custom

		&#sectionStory
			@extend .text-center

			padding: ($quadruple-unit-layout + $base-unit-layout) 0
			background: $color-brand-secondary


			h2
				font:
					weight: 700

			p
				max-width: rem(700px)
				margin: 0 auto $double-unit-layout
				font:
					family: $font-family-custom
					size: rem(20px)

		&#sectionSpeakers
			padding: ($quadruple-unit-layout + $base-unit-layout) 0

			ul
				margin-top: $quadruple-unit-layout

				> .flex-item


					strong
						display: block
						font:
							size: rem(20px)
					small
						color: $color-grey
						font-family: $font-family-custom

		&#sectionTopics
			padding: ($quadruple-unit-layout + $base-unit-layout) 0
			background: $color-grey-50
			border-top: 1px solid $color-grey-100
			border-bottom: 1px solid $color-grey-100

			article
				max-width: rem(550px)
				margin: $double-unit-layout auto 0
				padding: $double-unit-layout 0 0
				border-top: 1px solid $color-grey-100

				&:first-of-type
					border-top: 0

				p
					margin: 0
					line-height: 1.4
					font:
						family: $font-family-custom

				h4
					color: $color-turquoise
					font:
						size: rem(22px)
						weight: 700

				.bio
					+clearfix

					img
						float: left
						max-height: 50px

					aside
						float: left
						padding: $half-unit-layout 0 0 $base-unit-layout

						strong
							display: block
							margin-bottom: $quarter-unit-layout

						small
							font-family: $font-family-custom

		&#sectionVenue
			padding: ($quadruple-unit-layout + $base-unit-layout) 0