.alert {
  -webkit-transition: top .25s;
  -o-transition: top .25s;
  transition: top .25s;
  z-index: 6;
  position: fixed;
  left: 0;
  top: -4rem;
  width: 100%;
  height: 4rem;
  background: #81CFE0;
  color: rgba(0, 0, 0, 0.4); }
  .alert.info {
    background: #81CFE0; }
  .alert.warning {
    background: #f1c40f; }
  .alert.error {
    background: #F25641; }
  .alert.success {
    background: #CDDC39; }
  .alert.active {
    top: 0; }
