.alert {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #FDD835;
  border: 1px solid #ccae2a;
  color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  margin: 0 0 1rem;
  line-height: 1.5;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem; }
  .alert .close {
    -webkit-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
    color: inherit;
    top: 1rem;
    right: 1rem;
    text-decoration: none;
    float: right; }
    .alert .close:hover, .alert .close:focus {
      color: rgba(0, 0, 0, 0.6); }
  .alert.info {
    background: #81CFE0;
    border: 1px solid #68a7b5; }
  .alert.success {
    background: #CDDC39;
    border: 1px solid #a6b22e; }
  .alert.error {
    background: #F25641;
    border: 1px solid #c44534; }
