* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, object, iframe, hr, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, sub, sup, var, i, em, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, button, textarea, select, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-weight: 300; }

html {
  font-size: 16px;
  color: #181e20;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100%; }

article, aside, footer, header, menu, nav, section {
  display: block; }

table, tbody, tr, th, td {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1rem; }

nav ul {
  list-style: none; }

mark {
  background-color: #F0F012;
  color: #181e20;
  font-weight: 500; }

del {
  text-decoration: line-through; }

abbr, dfn {
  border-bottom: 1px dotted;
  cursor: help; }

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #eef1f3;
  margin: 2rem 0; }

strong, b {
  font-weight: 700; }

em, i {
  font-style: italic; }

blockquote {
  border-left: 4px solid #eef1f3;
  padding-left: 1.5rem;
  margin: 1rem 0; }
  blockquote p {
    margin-top: 0;
    font-size: 1.125rem; }
    blockquote p:before, blockquote p:after {
      font-weight: 700;
      color: #b4c2c7; }
    blockquote p:before {
      content: "\201C";
      margin-right: 0.25rem; }
    blockquote p:after {
      content: "\201D";
      margin-left: 0.25rem; }
  blockquote small {
    font-weight: 700;
    font-size: 1rem; }

a, .link {
  cursor: pointer;
  color: #FF6961;
  text-decoration: underline; }
  a:hover, a:focus, .link:hover, .link:focus {
    text-decoration: none; }
  a.link-blue, .link.link-blue {
    color: #81CFE0; }
  a.link-green, .link.link-green {
    color: #CDDC39; }
  a.link-red, .link.link-red {
    color: #F25641; }
  a.link-yellow, .link.link-yellow {
    color: #FDD835; }

ul, ol {
  line-height: 1.5;
  margin: 0 0 1rem 1.5rem; }
  ul li, ol li {
    margin: 0; }
  ul:last-child, ol:last-child {
    margin-bottom: 0; }
  ul.unstyled, ol.unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0; }

dl {
  line-height: 1.5; }
  dl dt {
    font-weight: 700;
    margin: 0.5rem 0 0; }
    dl dt:first-of-type {
      margin-top: 0; }
  dl dd {
    color: #68838c;
    font-size: 0.875rem; }

nav {
  position: fixed;
  width: 100%;
  height: 6rem;
  border-bottom: 1px solid #eef1f3;
  background: rgba(255, 255, 255, 0.975); }
  nav button {
    position: absolute;
    right: 1rem;
    top: 50%;
    margin: -1.5rem 0 0; }
  nav ul {
    zoom: 1;
    height: 100%; }
    nav ul:before, nav ul:after {
      content: "";
      display: table; }
    nav ul:after {
      clear: both; }
    nav ul li {
      display: block;
      width: 50%;
      height: 100%;
      float: left; }
      nav ul li.active {
        background: #f8f9fa; }
        nav ul li.active a {
          color: #181e20; }
      nav ul li a {
        -webkit-transition: color .25s;
        -o-transition: color .25s;
        transition: color .25s;
        text-decoration: none;
        color: #b4c2c7;
        display: block;
        height: 100%;
        line-height: 6rem;
        font-size: 1.25rem;
        font-weight: 700; }
        nav ul li a:hover, nav ul li a:focus {
          color: #181e20; }

table {
  max-width: 100%; }
  table tr th, table tr td {
    border: 1px solid #d1dadd;
    padding: 0.5rem 1rem;
    color: #52676e; }
  table thead th, table thead td, table tfoot th, table tfoot td {
    font-weight: 700;
    color: #181e20;
    background: #f8f9fa; }

p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.6; }

p {
  margin: 1rem 0; }
  p:last-child {
    margin-bottom: 0; }
  p:first-child {
    margin-top: 0; }

h1, h2, h3 {
  margin: 2rem 0 1rem;
  font-weight: 500; }

h4, h5, h6 {
  margin: 1rem 0 0.5rem;
  font-weight: 500; }

h1 {
  font-size: 2.375rem; }

h2 {
  font-size: 2.125rem; }

h3 {
  font-size: 1.875rem; }

h4 {
  font-size: 1.625rem; }

h5 {
  font-size: 1.375rem; }

h6 {
  font-size: 1.25rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif; }
  h1:first-of-type, h2:first-of-type, h3:first-of-type, h4:first-of-type, h5:first-of-type, h6:first-of-type {
    margin-top: 0; }
  h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
    margin-bottom: 0; }

.flex-grid-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-1 > .flex-item {
    width: 100%;
    margin-bottom: 1rem; }

.flex-grid-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-2 > .flex-item {
    width: 50%;
    margin-bottom: 1rem; }

.flex-grid-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-3 > .flex-item {
    width: 33%;
    margin-bottom: 1rem; }

.flex-grid-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-4 > .flex-item {
    width: 25%;
    margin-bottom: 1rem; }

.flex-grid-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-5 > .flex-item {
    width: 20%;
    margin-bottom: 1rem; }

.flex-grid-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-6 > .flex-item {
    width: 16%;
    margin-bottom: 1rem; }

.flex-grid-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-7 > .flex-item {
    width: 14%;
    margin-bottom: 1rem; }

.flex-grid-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-8 > .flex-item {
    width: 12%;
    margin-bottom: 1rem; }

.flex-grid-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-9 > .flex-item {
    width: 11%;
    margin-bottom: 1rem; }

.flex-grid-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-10 > .flex-item {
    width: 10%;
    margin-bottom: 1rem; }

.flex-grid-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-11 > .flex-item {
    width: 9%;
    margin-bottom: 1rem; }

.flex-grid-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-12 > .flex-item {
    width: 8%;
    margin-bottom: 1rem; }

[class^="flex-grid"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.align-right {
  margin-left: auto !important; }

.align-left {
  margin-right: auto !important; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .flex.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .flex.center-vertically {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .flex.center-horizontally {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  @media all and (max-width: 500px) {
    .flex {
      display: block; }
      .flex > .flex-1 {
        -webkit-box-flex: initial;
        -webkit-flex: initial;
        -moz-box-flex: initial;
        -ms-flex: initial;
        flex: initial; } }

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.flex-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.flex-3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.flex-4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -moz-box-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.flex-5 {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -moz-box-flex: 5;
  -ms-flex: 5;
  flex: 5; }

.flex-6 {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
  -moz-box-flex: 6;
  -ms-flex: 6;
  flex: 6; }

.flex-7 {
  -webkit-box-flex: 7;
  -webkit-flex: 7;
  -moz-box-flex: 7;
  -ms-flex: 7;
  flex: 7; }

.flex-8 {
  -webkit-box-flex: 8;
  -webkit-flex: 8;
  -moz-box-flex: 8;
  -ms-flex: 8;
  flex: 8; }

.flex-9 {
  -webkit-box-flex: 9;
  -webkit-flex: 9;
  -moz-box-flex: 9;
  -ms-flex: 9;
  flex: 9; }

.flex-10 {
  -webkit-box-flex: 10;
  -webkit-flex: 10;
  -moz-box-flex: 10;
  -ms-flex: 10;
  flex: 10; }

.flex-11 {
  -webkit-box-flex: 11;
  -webkit-flex: 11;
  -moz-box-flex: 11;
  -ms-flex: 11;
  flex: 11; }

.flex-12 {
  -webkit-box-flex: 12;
  -webkit-flex: 12;
  -moz-box-flex: 12;
  -ms-flex: 12;
  flex: 12; }

.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.block-center, .container-full-screen, .container-narrow {
  margin-left: auto;
  margin-right: auto; }

.block, .show {
  display: block; }
  .block.block, .show.block {
    min-width: 100%; }

.is-hidden {
  display: none; }

.is-invisible {
  visibility: hidden; }

.wipe-margin, .no-margin {
  margin: 0; }

.wipe-padding, .no-padding {
  padding: 0; }

.wipe-margin-padding, .no-margin-padding, .wipe-padding-margin, .no-padding-margin {
  margin: 0;
  padding: 0; }

.padding-top-quarter {
  padding-top: 0.25rem; }

.padding-top-half {
  padding-top: 0.5rem; }

.padding-top-base {
  padding-top: 1rem; }

.padding-top-double {
  padding-top: 2rem; }

.padding-right-quarter {
  padding-right: 0.25rem; }

.padding-right-half {
  padding-right: 0.5rem; }

.padding-right-base {
  padding-right: 1rem; }

.padding-right-double {
  padding-right: 2rem; }

.padding-bottom-quarter {
  padding-bottom: 0.25rem; }

.padding-bottom-half {
  padding-bottom: 0.5rem; }

.padding-bottom-base {
  padding-bottom: 1rem; }

.padding-bottom-double {
  padding-bottom: 2rem; }

.padding-left-quarter {
  padding-left: 0.25rem; }

.padding-left-half {
  padding-left: 0.5rem; }

.padding-left-base {
  padding-left: 1rem; }

.padding-left-double {
  padding-left: 2rem; }

.padding-quarter {
  padding: 0.25rem; }

.padding-half {
  padding: 0.5rem; }

.padding-base {
  padding: 1rem; }

.padding-double {
  padding: 2rem; }

.margin-top-quarter {
  margin-top: 0.25rem; }

.margin-top-half {
  margin-top: 0.5rem; }

.margin-top-base {
  margin-top: 1rem; }

.margin-top-double {
  margin-top: 2rem; }

.margin-right-quarter {
  margin-right: 0.25rem; }

.margin-right-half {
  margin-right: 0.5rem; }

.margin-right-base {
  margin-right: 1rem; }

.margin-right-double {
  margin-right: 2rem; }

.margin-bottom-quarter {
  margin-bottom: 0.25rem; }

.margin-bottom-half {
  margin-bottom: 0.5rem; }

.margin-bottom-base {
  margin-bottom: 1rem; }

.margin-bottom-double {
  margin-bottom: 2rem; }

.margin-left-quarter {
  margin-left: 0.25rem; }

.margin-left-half {
  margin-left: 0.5rem; }

.margin-left-base {
  margin-left: 1rem; }

.margin-left-double {
  margin-left: 2rem; }

.margin-quarter {
  margin: 0.25rem; }

.margin-half {
  margin: 0.5rem; }

.margin-base {
  margin: 1rem; }

.margin-double {
  margin: 2rem; }

.text-center, nav ul li a {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-justify {
  text-align: justify; }

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px; }

.text-lowercase {
  text-transform: lowercase; }

.text-capitalize {
  text-transform: capitalize; }

.description {
  color: #b4c2c7; }

.container-full-screen, .container-narrow {
  zoom: 1;
  width: 100%; }
  .container-full-screen:before, .container-full-screen:after, .container-narrow:before, .container-narrow:after {
    content: "";
    display: table; }
  .container-full-screen:after, .container-narrow:after {
    clear: both; }

.container-narrow {
  width: 80%;
  max-width: 50rem; }

footer {
  color: #b4c2c7;
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem; }
