* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, object, iframe, hr, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, sub, sup, var, i, em, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, button, textarea, select, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

html {
  font-size: 16px;
  color: #181e20;
  font-family: "proxima nova", "proxima-nova", Helvetica, Arial, sans-serif;
  min-height: 100%; }
  @media all and (max-width: 500px) {
    html {
      font-size: 12px; } }

.show-nav {
  left: 400px !important; }

#wrapper {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  position: relative;
  left: 0; }

body {
  padding-top: 6.25rem;
  overflow-x: hidden; }

img {
  max-width: 100%; }

article, aside, footer, header, menu, nav, section {
  display: block; }

table, tbody, tr, th, td {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1rem; }

nav ul {
  list-style: none; }

mark {
  background-color: #F0F012;
  color: #181e20;
  font-weight: 500; }

del {
  text-decoration: line-through; }

abbr, dfn {
  border-bottom: 1px dotted;
  cursor: help; }

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #eef1f3;
  margin: 2rem 0; }

strong, b {
  font-weight: 700; }

em, i {
  font-style: italic; }

.preload * {
  -webkit-transition: none;
  -o-transition: none;
  transition: none; }

blockquote {
  border-left: 4px solid #eef1f3;
  padding-left: 1.5rem;
  margin: 1rem 0; }
  blockquote p {
    margin-top: 0;
    font-size: 1.125rem; }
    blockquote p:before, blockquote p:after {
      font-weight: 700;
      color: #b4c2c7; }
    blockquote p:before {
      content: "\201C";
      margin-right: 0.25rem; }
    blockquote p:after {
      content: "\201D";
      margin-left: 0.25rem; }
  blockquote small {
    font-weight: 700;
    font-size: 1rem; }

footer {
  background: white;
  padding: 2rem 0 160px 0;
  color: white;
  text-align: center; }
  footer .copyright {
    margin-top: 2rem;
    color: #666666; }
    footer .copyright h6 {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.75rem;
      font-weight: 600;
      color: #666666; }
    footer .copyright small {
      font-size: 0.75rem; }
  footer .site-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 2rem;
    width: 100%; }
    footer .site-links li {
      padding: 0 1rem;
      display: inline; }
      footer .site-links li a {
        font-size: 1.125rem;
        text-decoration: none;
        color: black;
        font-weight: 600; }
        @media all and (max-width: 500px) {
          footer .site-links li a {
            display: block;
            margin-bottom: 1rem; } }
  footer .social-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    zoom: 1;
    text-align: center; }
    footer .social-links:before, footer .social-links:after {
      content: "";
      display: table; }
    footer .social-links:after {
      clear: both; }
    footer .social-links li {
      display: inline-block; }
      footer .social-links li:not(:first-child) {
        margin-left: -4px; }
      footer .social-links li:not(:last-child) {
        margin-right: 1rem; }
      footer .social-links li a {
        -webkit-border-radius: 42px;
        border-radius: 42px;
        display: block;
        width: 42px;
        height: 42px;
        border: 2px solid black;
        background-repeat: no-repeat;
        background-position: center center; }
        footer .social-links li a.facebook {
          background-image: url("../images//icons/white/icon-facebook.svg"); }
        footer .social-links li a.twitter {
          background-image: url("../images//icons/white/icon-twitter.svg"); }

a, .link {
  cursor: pointer;
  color: #09E791;
  text-decoration: underline; }
  a:hover, a:focus, .link:hover, .link:focus {
    text-decoration: none; }
  a.link-blue, .link.link-blue {
    color: #81CFE0; }
  a.link-green, .link.link-green {
    color: #CDDC39; }
  a.link-red, .link.link-red {
    color: #F25641; }
  a.link-yellow, .link.link-yellow {
    color: #f1c40f; }
  a.link-turquoise, .link.link-turquoise {
    color: #1abc9c; }

ul, ol {
  line-height: 1.5;
  margin: 0 0 1rem 1.5rem; }
  ul li, ol li {
    margin: 0; }
  ul:last-child, ol:last-child {
    margin-bottom: 0; }
  ul.unstyled, ol.unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0; }

dl {
  line-height: 1.5; }
  dl dt {
    font-weight: 700;
    margin: 0.5rem 0 0; }
    dl dt:first-of-type {
      margin-top: 0; }
  dl dd {
    color: #68838c;
    font-size: 0.875rem; }

.modal-backdrop {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  z-index: 3;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%; }
  .modal-backdrop.is-visible {
    display: block; }

.modal {
  z-index: 2;
  -webkit-transition: opacity .45s;
  -o-transition: opacity .45s;
  transition: opacity .45s;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  color: white; }
  .modal.show {
    opacity: 1; }
  .modal .modal-content {
    position: relative;
    cursor: default;
    max-width: 40.625rem;
    margin: 6rem auto 4rem; }
    .modal .modal-content .close-modal {
      position: absolute;
      right: 0;
      top: 1rem;
      cursor: pointer;
      font-size: 1.5rem; }
    .modal .modal-content p {
      line-height: 1.8;
      margin-bottom: 1.5rem;
      font-family: "proxima nova", "proxima-nova", Helvetica, Arial, sans-serif; }
      .modal .modal-content p a {
        color: white; }
      .modal .modal-content p:last-of-type {
        margin-bottom: 0; }
      .modal .modal-content p.heading {
        font-size: 1.5rem;
        font-weight: 500; }

header#top-nav {
  z-index: 1;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  border-bottom: 1px solid #E1E5E6; }
  header#top-nav > .container-wide, header#top-nav .container-fluid {
    height: 6.25rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  header#top-nav .logo {
    display: block;
    width: 50px;
    margin: auto;
    height: 50px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-image: url("../images//logo/logo-glyph.svg"); }
  header#top-nav .button {
    -webkit-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s;
    opacity: 0;
    position: absolute;
    right: 1.71875rem;
    top: 50%;
    margin: -1.71875rem 0 0; }
    header#top-nav .button.active {
      opacity: 1; }

.promotion {
  position: fixed;
  top: 80px;
  display: none;
  width: 100%;
  background: #f9f9f9; }

.nav-links {
  z-index: 4;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  position: fixed;
  background: black;
  top: 0;
  left: -100%;
  height: 100%;
  max-width: 400px;
  width: 75%;
  padding: 3rem;
  padding-top: 5rem; }
  .nav-links .button {
    background: white;
    font-size: 1.75rem;
    font-weight: 700;
    border: 0; }
  .nav-links.show {
    left: 0; }
  .nav-links li:not(:last-child) {
    margin-bottom: 2rem; }
  .nav-links li a {
    position: relative;
    font-size: 2.625rem;
    font-weight: 600;
    color: white;
    padding-bottom: 10px;
    text-decoration: none; }
    .nav-links li a:after {
      -webkit-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms;
      position: absolute;
      left: 0;
      bottom: 0;
      margin-top: -2px;
      content: "";
      background: white;
      width: 0;
      height: 8px; }
    .nav-links li a:hover:after {
      width: 100%; }

.navigation-toggle {
  z-index: 5;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 2rem;
  top: 2.75rem;
  width: 18px;
  height: 12px;
  cursor: pointer; }
  .navigation-toggle li {
    left: 0;
    top: 50%;
    margin-top: -2px;
    position: absolute;
    width: 100%;
    height: 2px;
    background: black; }
    .navigation-toggle li:before, .navigation-toggle li:after {
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: black; }
    .navigation-toggle li:before {
      top: -6px; }
    .navigation-toggle li:after {
      top: 6px; }
  .navigation-toggle.close-navigation li {
    background: black; }
    .navigation-toggle.close-navigation li:before, .navigation-toggle.close-navigation li:after {
      background: white; }
    .navigation-toggle.close-navigation li:before {
      top: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .navigation-toggle.close-navigation li:after {
      top: 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }

table {
  max-width: 100%; }
  table tr th, table tr td {
    border: 1px solid #d1dadd;
    padding: 0.5rem 1rem;
    color: #52676e; }
  table thead th, table thead td, table tfoot th, table tfoot td {
    font-weight: 700;
    color: #181e20;
    background: #f8f9fa; }

.typography p {
  font-size: 1.25rem;
  font-weight: 600; }

p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.6; }

p {
  font-weight: 400;
  margin: 1rem 0; }
  p:last-child {
    margin-bottom: 0; }
  p:first-child {
    margin-top: 0; }

h1, h2, h3 {
  margin: 2rem 0 1rem;
  font-weight: 700; }

h3 {
  font-weight: 700; }

h4, h5, h6 {
  margin: 1rem 0 0.5rem;
  font-weight: 600; }

h1 {
  font-size: 3.875rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2.375rem; }

h4 {
  font-size: 1.625rem; }

h5 {
  font-size: 1.375rem; }

h6 {
  font-size: 1.25rem; }

h1:first-of-type, h2:first-of-type, h3:first-of-type, h4:first-of-type, h5:first-of-type, h6:first-of-type {
  margin-top: 0; }
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-bottom: 0; }

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.columns-1 {
  width: 8.33333%;
  padding: 0 1rem;
  float: left; }

.columns-2 {
  width: 16.66667%;
  padding: 0 1rem;
  float: left; }

.columns-3 {
  width: 25%;
  padding: 0 1rem;
  float: left; }

.columns-4 {
  width: 33.33333%;
  padding: 0 1rem;
  float: left; }

.columns-5 {
  width: 41.66667%;
  padding: 0 1rem;
  float: left; }

.columns-6 {
  width: 50%;
  padding: 0 1rem;
  float: left; }

.columns-7 {
  width: 58.33333%;
  padding: 0 1rem;
  float: left; }

.columns-8 {
  width: 66.66667%;
  padding: 0 1rem;
  float: left; }

.columns-9 {
  width: 75%;
  padding: 0 1rem;
  float: left; }

.columns-10 {
  width: 83.33333%;
  padding: 0 1rem;
  float: left; }

.columns-11 {
  width: 91.66667%;
  padding: 0 1rem;
  float: left; }

.columns-12 {
  width: 100%;
  padding: 0 1rem;
  float: left; }

.flex-grid-1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem; }
  .flex-grid-1 > .flex-item {
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 1rem; }
    @media all and (max-width: 800px) {
      .flex-grid-1 > .flex-item {
        width: 100%; }
        .flex-grid-1 > .flex-item:last-of-type {
          margin-bottom: 0; } }

.flex-grid-2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem; }
  .flex-grid-2 > .flex-item {
    width: 50%;
    margin-bottom: 2rem;
    padding: 0 1rem; }
    @media all and (max-width: 800px) {
      .flex-grid-2 > .flex-item {
        width: 100%; }
        .flex-grid-2 > .flex-item:last-of-type {
          margin-bottom: 0; } }

.flex-grid-3 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem; }
  .flex-grid-3 > .flex-item {
    width: 33.33333%;
    margin-bottom: 2rem;
    padding: 0 1rem; }
    @media all and (max-width: 800px) {
      .flex-grid-3 > .flex-item {
        width: 100%; }
        .flex-grid-3 > .flex-item:last-of-type {
          margin-bottom: 0; } }

.flex-grid-4 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem; }
  .flex-grid-4 > .flex-item {
    width: 25%;
    margin-bottom: 2rem;
    padding: 0 1rem; }
    @media all and (max-width: 800px) {
      .flex-grid-4 > .flex-item {
        width: 100%; }
        .flex-grid-4 > .flex-item:last-of-type {
          margin-bottom: 0; } }

.flex-grid-5 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem; }
  .flex-grid-5 > .flex-item {
    width: 20%;
    margin-bottom: 2rem;
    padding: 0 1rem; }
    @media all and (max-width: 800px) {
      .flex-grid-5 > .flex-item {
        width: 100%; }
        .flex-grid-5 > .flex-item:last-of-type {
          margin-bottom: 0; } }

.flex-grid-6 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem; }
  .flex-grid-6 > .flex-item {
    width: 16.66667%;
    margin-bottom: 2rem;
    padding: 0 1rem; }
    @media all and (max-width: 800px) {
      .flex-grid-6 > .flex-item {
        width: 100%; }
        .flex-grid-6 > .flex-item:last-of-type {
          margin-bottom: 0; } }

.flex-grid-7 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem; }
  .flex-grid-7 > .flex-item {
    width: 14.28571%;
    margin-bottom: 2rem;
    padding: 0 1rem; }
    @media all and (max-width: 800px) {
      .flex-grid-7 > .flex-item {
        width: 100%; }
        .flex-grid-7 > .flex-item:last-of-type {
          margin-bottom: 0; } }

.flex-grid-8 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem; }
  .flex-grid-8 > .flex-item {
    width: 12.5%;
    margin-bottom: 2rem;
    padding: 0 1rem; }
    @media all and (max-width: 800px) {
      .flex-grid-8 > .flex-item {
        width: 100%; }
        .flex-grid-8 > .flex-item:last-of-type {
          margin-bottom: 0; } }

.flex-grid-9 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem; }
  .flex-grid-9 > .flex-item {
    width: 11.11111%;
    margin-bottom: 2rem;
    padding: 0 1rem; }
    @media all and (max-width: 800px) {
      .flex-grid-9 > .flex-item {
        width: 100%; }
        .flex-grid-9 > .flex-item:last-of-type {
          margin-bottom: 0; } }

.flex-grid-10 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem; }
  .flex-grid-10 > .flex-item {
    width: 10%;
    margin-bottom: 2rem;
    padding: 0 1rem; }
    @media all and (max-width: 800px) {
      .flex-grid-10 > .flex-item {
        width: 100%; }
        .flex-grid-10 > .flex-item:last-of-type {
          margin-bottom: 0; } }

.flex-grid-11 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem; }
  .flex-grid-11 > .flex-item {
    width: 9.09091%;
    margin-bottom: 2rem;
    padding: 0 1rem; }
    @media all and (max-width: 800px) {
      .flex-grid-11 > .flex-item {
        width: 100%; }
        .flex-grid-11 > .flex-item:last-of-type {
          margin-bottom: 0; } }

.flex-grid-12 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem; }
  .flex-grid-12 > .flex-item {
    width: 8.33333%;
    margin-bottom: 2rem;
    padding: 0 1rem; }
    @media all and (max-width: 800px) {
      .flex-grid-12 > .flex-item {
        width: 100%; }
        .flex-grid-12 > .flex-item:last-of-type {
          margin-bottom: 0; } }

[class^="flex-grid"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.align-right {
  margin-left: auto !important; }

.align-left {
  margin-right: auto !important; }

.flex, .checkbox-holder .checkbox, .checkbox-holder .radio-button, .radio-button-holder .checkbox, .radio-button-holder .radio-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .flex.column, .checkbox-holder .column.checkbox, .checkbox-holder .column.radio-button, .radio-button-holder .column.checkbox, .radio-button-holder .column.radio-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex.row, .checkbox-holder .row.checkbox, .checkbox-holder .row.radio-button, .radio-button-holder .row.checkbox, .radio-button-holder .row.radio-button {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .flex.center-vertically, .checkbox-holder .center-vertically.checkbox, .checkbox-holder .center-vertically.radio-button, .radio-button-holder .center-vertically.checkbox, .radio-button-holder .center-vertically.radio-button {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .flex.center-horizontally, .checkbox-holder .center-horizontally.checkbox, .checkbox-holder .center-horizontally.radio-button, .radio-button-holder .center-horizontally.checkbox, .radio-button-holder .center-horizontally.radio-button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.flex-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.flex-3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.flex-4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -moz-box-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.flex-5 {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -moz-box-flex: 5;
  -ms-flex: 5;
  flex: 5; }

.flex-6 {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
  -moz-box-flex: 6;
  -ms-flex: 6;
  flex: 6; }

.flex-7 {
  -webkit-box-flex: 7;
  -webkit-flex: 7;
  -moz-box-flex: 7;
  -ms-flex: 7;
  flex: 7; }

.flex-8 {
  -webkit-box-flex: 8;
  -webkit-flex: 8;
  -moz-box-flex: 8;
  -ms-flex: 8;
  flex: 8; }

.flex-9 {
  -webkit-box-flex: 9;
  -webkit-flex: 9;
  -moz-box-flex: 9;
  -ms-flex: 9;
  flex: 9; }

.flex-10 {
  -webkit-box-flex: 10;
  -webkit-flex: 10;
  -moz-box-flex: 10;
  -ms-flex: 10;
  flex: 10; }

.flex-11 {
  -webkit-box-flex: 11;
  -webkit-flex: 11;
  -moz-box-flex: 11;
  -ms-flex: 11;
  flex: 11; }

.flex-12 {
  -webkit-box-flex: 12;
  -webkit-flex: 12;
  -moz-box-flex: 12;
  -ms-flex: 12;
  flex: 12; }

.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.block-center, .container-narrow, .page-add form, .container-wide, .container-fluid {
  margin-left: auto;
  margin-right: auto; }

.block, .show {
  display: block; }
  .block.block, .show.block {
    min-width: 100%; }

.is-hidden {
  display: none; }

.is-invisible {
  visibility: hidden; }

.wipe-margin, .no-margin {
  margin: 0; }

.wipe-padding, .no-padding {
  padding: 0; }

.wipe-margin-padding, .file-button input[type="file"], .no-margin-padding, .wipe-padding-margin, .no-padding-margin {
  margin: 0;
  padding: 0; }

.padding-top-quarter {
  padding-top: 0.25rem !important; }

.padding-top-half {
  padding-top: 0.5rem !important; }

.padding-top-base {
  padding-top: 1rem !important; }

.padding-top-double {
  padding-top: 2rem !important; }

.padding-right-quarter {
  padding-right: 0.25rem !important; }

.padding-right-half {
  padding-right: 0.5rem !important; }

.padding-right-base {
  padding-right: 1rem !important; }

.padding-right-double {
  padding-right: 2rem !important; }

.padding-bottom-quarter {
  padding-bottom: 0.25rem !important; }

.padding-bottom-half {
  padding-bottom: 0.5rem !important; }

.padding-bottom-base {
  padding-bottom: 1rem !important; }

.padding-bottom-double {
  padding-bottom: 2rem !important; }

.padding-left-quarter {
  padding-left: 0.25rem !important; }

.padding-left-half {
  padding-left: 0.5rem !important; }

.padding-left-base {
  padding-left: 1rem !important; }

.padding-left-double {
  padding-left: 2rem !important; }

.padding-quarter {
  padding: 0.25rem !important; }

.padding-half {
  padding: 0.5rem !important; }

.padding-base {
  padding: 1rem !important; }

.padding-double {
  padding: 2rem !important; }

.margin-top-quarter {
  margin-top: 0.25rem !important; }

.margin-top-half {
  margin-top: 0.5rem !important; }

.margin-top-base {
  margin-top: 1rem !important; }

.margin-top-double {
  margin-top: 2rem !important; }

.margin-right-quarter {
  margin-right: 0.25rem !important; }

.margin-right-half {
  margin-right: 0.5rem !important; }

.margin-right-base {
  margin-right: 1rem !important; }

.margin-right-double {
  margin-right: 2rem !important; }

.margin-bottom-quarter {
  margin-bottom: 0.25rem !important; }

.margin-bottom-half {
  margin-bottom: 0.5rem !important; }

.margin-bottom-base {
  margin-bottom: 1rem !important; }

.margin-bottom-double {
  margin-bottom: 2rem !important; }

.margin-left-quarter {
  margin-left: 0.25rem !important; }

.margin-left-half {
  margin-left: 0.5rem !important; }

.margin-left-base {
  margin-left: 1rem !important; }

.margin-left-double {
  margin-left: 2rem !important; }

.margin-quarter {
  margin: 0.25rem !important; }

.margin-half {
  margin: 0.5rem !important; }

.margin-base {
  margin: 1rem !important; }

.margin-double {
  margin: 2rem !important; }

.text-center, .page-welcome section#sectionStory {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-justify {
  text-align: justify; }

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px; }

.text-lowercase {
  text-transform: lowercase; }

.text-capitalize {
  text-transform: capitalize; }

.description {
  color: #b4c2c7; }

.alert {
  -webkit-transition: top .25s;
  -o-transition: top .25s;
  transition: top .25s;
  z-index: 6;
  position: fixed;
  left: 0;
  top: -4rem;
  width: 100%;
  height: 4rem;
  background: #81CFE0;
  color: rgba(0, 0, 0, 0.4); }
  .alert.info {
    background: #81CFE0; }
  .alert.warning {
    background: #f1c40f; }
  .alert.error {
    background: #F25641; }
  .alert.success {
    background: #CDDC39; }
  .alert.active {
    top: 0; }

input, select, textarea, .input {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  -webkit-appearance: none;
  border: 2px solid #181e20;
  background: transparent;
  padding: 0.75rem;
  font-family: "proxima nova", "proxima-nova", Helvetica, Arial, sans-serif !important;
  font-size: 0.875rem;
  outline: none;
  color: #181e20;
  margin: 0 0 1rem;
  text-decoration: none; }
  input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder, .input::-webkit-input-placeholder {
    color: #d1dadd; }
  input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder, .input::-moz-placeholder {
    color: #d1dadd; }
  input:-moz-placeholder, select:-moz-placeholder, textarea:-moz-placeholder, .input:-moz-placeholder {
    color: #d1dadd; }
  input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder, .input:-ms-input-placeholder {
    color: #d1dadd; }
  input:last-child, select:last-child, textarea:last-child, .input:last-child {
    margin-bottom: 0; }
  input:hover, input:focus, select:hover, select:focus, textarea:hover, textarea:focus, .input:hover, .input:focus {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
    border-color: #b4c2c7; }
    input:hover:focus, input:focus:focus, select:hover:focus, select:focus:focus, textarea:hover:focus, textarea:focus:focus, .input:hover:focus, .input:focus:focus {
      border-color: #839ba3; }

select {
  -webkit-appearance: none;
  background: url("../images//icons/grey/arrow-bottom.svg") no-repeat right 1rem top 50%;
  background-size: 0.5rem; }

textarea {
  min-height: 4rem;
  resize: vertical; }

input:invalid, textarea:invalid {
  color: #F25641; }
  input:invalid:hover, input:invalid:focus, textarea:invalid:hover, textarea:invalid:focus {
    color: #F25641; }
  input:invalid:focus, textarea:invalid:focus {
    border-color: #F25641; }

.file-button {
  position: relative;
  overflow: hidden;
  margin: 0 0 1rem; }
  .file-button input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer !important; }
  .file-button .button {
    margin: 0; }

.checkbox-holder input, .radio-button-holder input {
  display: none; }
.checkbox-holder .checkbox, .checkbox-holder .radio-button, .radio-button-holder .checkbox, .radio-button-holder .radio-button {
  height: 1.5rem; }
  .checkbox-holder .checkbox .indicator, .checkbox-holder .radio-button .indicator, .radio-button-holder .checkbox .indicator, .radio-button-holder .radio-button .indicator {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    border: 1px solid #d1dadd;
    width: 0.875rem;
    height: 0.875rem;
    display: block;
    position: relative;
    cursor: pointer; }
    .checkbox-holder .checkbox .indicator:after, .checkbox-holder .radio-button .indicator:after, .radio-button-holder .checkbox .indicator:after, .radio-button-holder .radio-button .indicator:after {
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -webkit-transition: background .25s;
      -o-transition: background .25s;
      transition: background .25s;
      opacity: 0;
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 0.5rem;
      height: 0.5rem;
      background: #d1dadd;
      margin-top: -0.25rem;
      margin-left: -0.25rem; }
  .checkbox-holder .checkbox label, .checkbox-holder .radio-button label, .radio-button-holder .checkbox label, .radio-button-holder .radio-button label {
    padding: 0 0 0 0.5rem;
    font-size: 0.875rem;
    cursor: pointer; }
  .checkbox-holder .checkbox:hover .indicator, .checkbox-holder .checkbox:focus .indicator, .checkbox-holder .radio-button:hover .indicator, .checkbox-holder .radio-button:focus .indicator, .radio-button-holder .checkbox:hover .indicator, .radio-button-holder .checkbox:focus .indicator, .radio-button-holder .radio-button:hover .indicator, .radio-button-holder .radio-button:focus .indicator {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
    border-color: #b4c2c7; }
    .checkbox-holder .checkbox:hover .indicator:after, .checkbox-holder .checkbox:focus .indicator:after, .checkbox-holder .radio-button:hover .indicator:after, .checkbox-holder .radio-button:focus .indicator:after, .radio-button-holder .checkbox:hover .indicator:after, .radio-button-holder .checkbox:focus .indicator:after, .radio-button-holder .radio-button:hover .indicator:after, .radio-button-holder .radio-button:focus .indicator:after {
      opacity: 1;
      background: #d1dadd; }
  .checkbox-holder .checkbox:focus .indicator, .checkbox-holder .checkbox:active .indicator, .checkbox-holder .radio-button:focus .indicator, .checkbox-holder .radio-button:active .indicator, .radio-button-holder .checkbox:focus .indicator, .radio-button-holder .checkbox:active .indicator, .radio-button-holder .radio-button:focus .indicator, .radio-button-holder .radio-button:active .indicator {
    border-color: #839ba3; }
    .checkbox-holder .checkbox:focus .indicator:after, .checkbox-holder .checkbox:active .indicator:after, .checkbox-holder .radio-button:focus .indicator:after, .checkbox-holder .radio-button:active .indicator:after, .radio-button-holder .checkbox:focus .indicator:after, .radio-button-holder .checkbox:active .indicator:after, .radio-button-holder .radio-button:focus .indicator:after, .radio-button-holder .radio-button:active .indicator:after {
      background: #839ba3; }
  .checkbox-holder .checkbox.selected .indicator, .checkbox-holder .radio-button.selected .indicator, .radio-button-holder .checkbox.selected .indicator, .radio-button-holder .radio-button.selected .indicator {
    border-color: #b4c2c7; }
    .checkbox-holder .checkbox.selected .indicator:after, .checkbox-holder .radio-button.selected .indicator:after, .radio-button-holder .checkbox.selected .indicator:after, .radio-button-holder .radio-button.selected .indicator:after {
      opacity: 1;
      background: #81CFE0; }
  .checkbox-holder .checkbox.selected:hover .indicator, .checkbox-holder .checkbox.selected:focus .indicator, .checkbox-holder .radio-button.selected:hover .indicator, .checkbox-holder .radio-button.selected:focus .indicator, .radio-button-holder .checkbox.selected:hover .indicator, .radio-button-holder .checkbox.selected:focus .indicator, .radio-button-holder .radio-button.selected:hover .indicator, .radio-button-holder .radio-button.selected:focus .indicator {
    border-color: #81CFE0; }
  .checkbox-holder .checkbox.selected:focus .indicator, .checkbox-holder .checkbox.selected:active .indicator, .checkbox-holder .radio-button.selected:focus .indicator, .checkbox-holder .radio-button.selected:active .indicator, .radio-button-holder .checkbox.selected:focus .indicator, .radio-button-holder .checkbox.selected:active .indicator, .radio-button-holder .radio-button.selected:focus .indicator, .radio-button-holder .radio-button.selected:active .indicator {
    border-color: #72b8c7; }
    .checkbox-holder .checkbox.selected:focus .indicator:after, .checkbox-holder .checkbox.selected:active .indicator:after, .checkbox-holder .radio-button.selected:focus .indicator:after, .checkbox-holder .radio-button.selected:active .indicator:after, .radio-button-holder .checkbox.selected:focus .indicator:after, .radio-button-holder .checkbox.selected:active .indicator:after, .radio-button-holder .radio-button.selected:focus .indicator:after, .radio-button-holder .radio-button.selected:active .indicator:after {
      background: #72b8c7; }
  .checkbox-holder .checkbox.selected.disabled .indicator, .checkbox-holder .radio-button.selected.disabled .indicator, .radio-button-holder .checkbox.selected.disabled .indicator, .radio-button-holder .radio-button.selected.disabled .indicator {
    border-color: #eef1f3; }
  .checkbox-holder .checkbox.disabled, .checkbox-holder .radio-button.disabled, .radio-button-holder .checkbox.disabled, .radio-button-holder .radio-button.disabled {
    cursor: not-allowed; }
    .checkbox-holder .checkbox.disabled .indicator, .checkbox-holder .radio-button.disabled .indicator, .radio-button-holder .checkbox.disabled .indicator, .radio-button-holder .radio-button.disabled .indicator {
      background: #f8f9fa;
      border-color: #eef1f3;
      cursor: not-allowed; }
    .checkbox-holder .checkbox.disabled label, .checkbox-holder .radio-button.disabled label, .radio-button-holder .checkbox.disabled label, .radio-button-holder .radio-button.disabled label {
      color: #d1dadd;
      cursor: not-allowed; }
    .checkbox-holder .checkbox.disabled:hover .indicator, .checkbox-holder .checkbox.disabled:focus .indicator, .checkbox-holder .radio-button.disabled:hover .indicator, .checkbox-holder .radio-button.disabled:focus .indicator, .radio-button-holder .checkbox.disabled:hover .indicator, .radio-button-holder .checkbox.disabled:focus .indicator, .radio-button-holder .radio-button.disabled:hover .indicator, .radio-button-holder .radio-button.disabled:focus .indicator {
      -webkit-box-shadow: none;
      box-shadow: none; }
      .checkbox-holder .checkbox.disabled:hover .indicator:after, .checkbox-holder .checkbox.disabled:focus .indicator:after, .checkbox-holder .radio-button.disabled:hover .indicator:after, .checkbox-holder .radio-button.disabled:focus .indicator:after, .radio-button-holder .checkbox.disabled:hover .indicator:after, .radio-button-holder .checkbox.disabled:focus .indicator:after, .radio-button-holder .radio-button.disabled:hover .indicator:after, .radio-button-holder .radio-button.disabled:focus .indicator:after {
        opacity: 0; }
    .checkbox-holder .checkbox.disabled:focus .indicator, .checkbox-holder .checkbox.disabled:active .indicator, .checkbox-holder .radio-button.disabled:focus .indicator, .checkbox-holder .radio-button.disabled:active .indicator, .radio-button-holder .checkbox.disabled:focus .indicator, .radio-button-holder .checkbox.disabled:active .indicator, .radio-button-holder .radio-button.disabled:focus .indicator, .radio-button-holder .radio-button.disabled:active .indicator {
      border-color: #eef1f3; }
      .checkbox-holder .checkbox.disabled:focus .indicator:after, .checkbox-holder .checkbox.disabled:active .indicator:after, .checkbox-holder .radio-button.disabled:focus .indicator:after, .checkbox-holder .radio-button.disabled:active .indicator:after, .radio-button-holder .checkbox.disabled:focus .indicator:after, .radio-button-holder .checkbox.disabled:active .indicator:after, .radio-button-holder .radio-button.disabled:focus .indicator:after, .radio-button-holder .radio-button.disabled:active .indicator:after {
        opacity: 0; }
    .checkbox-holder .checkbox.disabled.selected .indicator:after, .checkbox-holder .radio-button.disabled.selected .indicator:after, .radio-button-holder .checkbox.disabled.selected .indicator:after, .radio-button-holder .radio-button.disabled.selected .indicator:after {
      background: #d1dadd; }
    .checkbox-holder .checkbox.disabled.selected:hover .indicator:after, .checkbox-holder .checkbox.disabled.selected:focus .indicator:after, .checkbox-holder .checkbox.disabled.selected:active .indicator:after, .checkbox-holder .radio-button.disabled.selected:hover .indicator:after, .checkbox-holder .radio-button.disabled.selected:focus .indicator:after, .checkbox-holder .radio-button.disabled.selected:active .indicator:after, .radio-button-holder .checkbox.disabled.selected:hover .indicator:after, .radio-button-holder .checkbox.disabled.selected:focus .indicator:after, .radio-button-holder .checkbox.disabled.selected:active .indicator:after, .radio-button-holder .radio-button.disabled.selected:hover .indicator:after, .radio-button-holder .radio-button.disabled.selected:focus .indicator:after, .radio-button-holder .radio-button.disabled.selected:active .indicator:after {
      opacity: 1;
      background: #d1dadd; }
.checkbox-holder .radio-button .indicator, .radio-button-holder .radio-button .indicator {
  -webkit-border-radius: 100%;
  border-radius: 100%; }
  .checkbox-holder .radio-button .indicator:after, .radio-button-holder .radio-button .indicator:after {
    -webkit-border-radius: 100%;
    border-radius: 100%; }

.flash-message {
  background: url("../images//other/loading.gif") no-repeat center center transparent;
  background-size: 22px 22px;
  min-height: 2rem;
  display: none;
  margin: 0 0 1rem; }

.button, button {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
  background: black;
  color: white;
  font-weight: 600;
  font-family: "proxima nova", "proxima-nova", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: capitalize; }
  .button.large, button.large {
    font-size: 1.125rem;
    padding: 1rem 2rem; }
  .button.brand, button.brand {
    background: #09E791; }
    .button.brand:hover, button.brand:hover {
      background: #08ce82; }
  .button.white, button.white {
    background: white;
    color: black; }

.label {
  color: #b4c2c7;
  border: 1px solid #b4c2c7;
  background: white;
  padding: 0.5rem 0.5rem 0.35rem 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  margin-right: 0.5rem;
  font-family: "proxima nova", "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 600; }
  .label.blue {
    color: #81CFE0;
    border-color: #81CFE0; }
  .label.yellow {
    color: #f1c40f;
    border-color: #f1c40f; }
  .label.green {
    color: #CDDC39;
    border-color: #CDDC39; }
  .label.red {
    color: #F25641;
    border-color: #F25641; }
  .label.numeric {
    -webkit-border-radius: 1.25rem;
    border-radius: 1.25rem;
    padding: 0 0.375rem;
    text-align: center;
    font-size: 0.625rem;
    display: inline-block;
    min-width: 1.25rem;
    height: 1.25rem;
    line-height: 1.375rem;
    border: 0;
    color: white;
    background: #FF4040; }

.page-content {
  padding: 2rem 0; }

.container-narrow, .page-add form, .container-wide, .container-fluid {
  zoom: 1;
  width: 100%;
  padding: 0 2rem; }
  .container-narrow:before, .page-add form:before, .container-wide:before, .container-fluid:before, .container-narrow:after, .page-add form:after, .container-wide:after, .container-fluid:after {
    content: "";
    display: table; }
  .container-narrow:after, .page-add form:after, .container-wide:after, .container-fluid:after {
    clear: both; }

.container-narrow, .page-add form {
  max-width: 37.5rem; }

.container-wide {
  max-width: 62.5rem; }

.container-fluid {
  width: 100%; }

.page-add form input {
  display: block;
  width: 100%; }

.masthead {
  text-align: center;
  padding: 40px 0; }

.columns {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2; }

.quote {
  background: #e5e5e5;
  text-align: center; }

.description {
  color: #B3B3B3;
  font-size: 0.875rem;
  font-weight: 600; }

.page-welcome {
  padding-top: 0; }
  .page-welcome .small-heading {
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0; }
  .page-welcome h2 {
    font-size: 3rem;
    font-weight: 700; }
  .page-welcome section#masthead {
    height: 100vh;
    text-align: center; }
    .page-welcome section#masthead h1 {
      line-height: 1.5;
      font-weight: 700;
      font-size: 3.75rem; }
    .page-welcome section#masthead h2 {
      color: #8F8F8F;
      font-size: 1.5rem; }
  .page-welcome section#sectionStory {
    padding: 5rem 0;
    background: #09E791; }
    .page-welcome section#sectionStory button {
      background: #0DA96D;
      color: white; }
    .page-welcome section#sectionStory h2 {
      font-weight: 700; }
    .page-welcome section#sectionStory p {
      max-width: 43.75rem;
      margin: 0 auto 2rem;
      font-family: "proxima nova", "proxima-nova", Helvetica, Arial, sans-serif;
      font-size: 1.25rem; }
  .page-welcome section#sectionSpeakers {
    padding: 5rem 0; }
    .page-welcome section#sectionSpeakers ul {
      margin-top: 4rem; }
      @media all and (max-width: 500px) {
        .page-welcome section#sectionSpeakers ul > .flex-item {
          width: 50%; } }
      .page-welcome section#sectionSpeakers ul > .flex-item img {
        -webkit-transition: all .15s;
        -o-transition: all .15s;
        transition: all .15s;
        cursor: pointer;
        width: 100%;
        max-width: 9.375rem;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        margin: 0 auto 1rem;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat; }
        .page-welcome section#sectionSpeakers ul > .flex-item img:hover {
          -webkit-transform: scale(1.1, 1.1);
          -ms-transform: scale(1.1, 1.1);
          -o-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1); }
        @media all and (max-width: 500px) {
          .page-welcome section#sectionSpeakers ul > .flex-item img {
            max-width: 12.5rem; } }
      .page-welcome section#sectionSpeakers ul > .flex-item strong {
        display: block;
        font-size: 1.25rem; }
      .page-welcome section#sectionSpeakers ul > .flex-item small {
        color: #839ba3;
        font-family: "proxima nova", "proxima-nova", Helvetica, Arial, sans-serif; }
  .page-welcome section#sectionTopics {
    padding: 5rem 0;
    border-bottom: 1px solid #E1E5E6;
    text-align: center; }
    .page-welcome section#sectionTopics article {
      text-align: center; }
      .page-welcome section#sectionTopics article:not(:last-child):after {
        display: block;
        margin: 2rem auto;
        background: #e5e5e5;
        width: 100px;
        height: 5px;
        content: ""; }
      .page-welcome section#sectionTopics article p {
        margin: 0;
        line-height: 1.4;
        font-family: "proxima nova", "proxima-nova", Helvetica, Arial, sans-serif; }
      .page-welcome section#sectionTopics article h4 {
        color: #09E791;
        font-size: 1.375rem;
        font-weight: 700; }
      .page-welcome section#sectionTopics article .bio {
        zoom: 1; }
        .page-welcome section#sectionTopics article .bio:before, .page-welcome section#sectionTopics article .bio:after {
          content: "";
          display: table; }
        .page-welcome section#sectionTopics article .bio:after {
          clear: both; }
        .page-welcome section#sectionTopics article .bio img {
          float: left;
          max-height: 50px; }
        .page-welcome section#sectionTopics article .bio aside {
          float: left;
          padding: 0.25rem 0 0 1rem; }
          .page-welcome section#sectionTopics article .bio aside strong {
            display: block;
            margin-bottom: 0.25rem; }
          .page-welcome section#sectionTopics article .bio aside small {
            font-family: "proxima nova", "proxima-nova", Helvetica, Arial, sans-serif; }
  .page-welcome section#sectionVenue {
    padding: 5rem 0;
    background-image: url("../images//background/bg-venue.jpg");
    background-size: cover;
    background-position: center center; }

.border-bottom {
  border-bottom: 1px solid #e5e5e5; }

.border-left {
  border-left: 1px solid #e5e5e5; }

.border-right {
  border-right: 1px solid #e5e5e5; }

.border-all {
  border: 1px solid #e5e5e5; }

.border-top {
  border-top: 1px solid #e5e5e5; }

section {
  padding: 60px 0; }

.stats {
  font-size: 2rem;
  font-weight: 600; }

.background-black {
  background: black;
  color: white; }

.page-resources .newsletter-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: black;
  color: white;
  padding: 2rem 0; }
  @media all and (max-width: 500px) {
    .page-resources .newsletter-banner .flex, .page-resources .newsletter-banner .checkbox-holder .checkbox, .checkbox-holder .page-resources .newsletter-banner .checkbox, .page-resources .newsletter-banner .checkbox-holder .radio-button, .checkbox-holder .page-resources .newsletter-banner .radio-button, .page-resources .newsletter-banner .radio-button-holder .checkbox, .radio-button-holder .page-resources .newsletter-banner .checkbox, .page-resources .newsletter-banner .radio-button-holder .radio-button, .radio-button-holder .page-resources .newsletter-banner .radio-button {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
.page-resources #mc-embedded-subscribe-form {
  margin-left: auto; }
  @media all and (max-width: 500px) {
    .page-resources #mc-embedded-subscribe-form {
      -webkit-box-orient: horizontal !important;
      -webkit-box-direction: normal !important;
      -webkit-flex-direction: row !important;
      -moz-box-orient: horizontal !important;
      -moz-box-direction: normal !important;
      -ms-flex-direction: row !important;
      flex-direction: row !important;
      width: 100%; } }
  .page-resources #mc-embedded-subscribe-form input {
    margin: 0;
    height: 52px;
    min-width: 18.75rem;
    border-color: white !important; }
    .page-resources #mc-embedded-subscribe-form input:hover, .page-resources #mc-embedded-subscribe-form input:focus {
      border-color: #181e20; }
  .page-resources #mc-embedded-subscribe-form button {
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background: white;
    height: 52px;
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.9375rem; }
.page-resources #bookTickets {
  display: none; }
.page-resources .resources .container-narrow, .page-resources .resources .page-add form, .page-add .page-resources .resources form {
  max-width: 43.75rem; }
.page-resources .resources a:hover, .page-resources .resources a:focus {
  text-decoration: none !important; }
  .page-resources .resources a:hover h3, .page-resources .resources a:focus h3 {
    text-decoration: underline !important; }
.page-resources .resources article {
  border-bottom: 1px solid #E1E5E6;
  padding: 40px 0; }
  .page-resources .resources article:hover, .page-resources .resources article:focus {
    cursor: pointer;
    background: #eef1f3; }
.page-resources .resources h3 {
  margin-bottom: 0;
  line-height: 1.25; }
.page-resources .resources p {
  font-size: 1.125rem; }
.page-resources .resources a {
  color: black;
  text-decoration: none; }
  .page-resources .resources a:hover, .page-resources .resources a:focus {
    text-decoration: underline; }
