* {
  box-sizing: border-box; }

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important; }

html, body, div, span, object, iframe, hr,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, b, sub, sup, var, i, em,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button, textarea, select,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-weight: 400; }

html {
  font-size: 16px;
  color: #181e20;
  font-family: "Anonymous Pro", Helvetica, Arial, sans-serif;
  min-height: 100%; }

article, aside, footer, header, menu, nav, section {
  display: block; }

table, tbody, tr, th, td {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1rem; }

nav ul {
  list-style: none; }

mark {
  background-color: #f0f012;
  color: #181e20;
  font-weight: 500; }

del {
  text-decoration: line-through; }

abbr, dfn {
  border-bottom: 1px dotted;
  cursor: help; }

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #eef1f3;
  margin: 2rem 0; }

strong, b {
  font-weight: 700; }

em, i {
  font-style: italic; }

.alert {
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 1rem;
  background: #dcc100;
  color: #907e00;
  border: 1px solid #a99400;
  margin: 0 0 1rem;
  line-height: 1.5;
  position: relative; }
  .alert .close {
    color: #907e00;
    top: 1rem;
    right: 1rem; }
    .alert .close:hover, .alert .close:focus {
      color: #766800; }
  .alert.info {
    background: #aec6cf;
    color: #557f8f;
    border: 1px solid #5e8d9f; }
    .alert.info .close {
      color: #557f8f; }
      .alert.info .close:hover, .alert.info .close:focus {
        color: #4b717f; }
  .alert.success {
    background: #a9ce03;
    color: #6b8302;
    border: 1px solid #809c02; }
    .alert.success .close {
      color: #6b8302; }
      .alert.success .close:hover, .alert.success .close:focus {
        color: #576902; }
  .alert.error, noscript #warning {
    background: #ff784b;
    color: #b12c00;
    border: 1px solid #cb3300; }
    .alert.error .close, noscript #warning .close {
      color: #b12c00; }
      .alert.error .close:hover, noscript #warning .close:hover, .alert.error .close:focus, noscript #warning .close:focus {
        color: #982600; }

#appInfo {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  color: #b4c2c7;
  font-size: 0.625rem;
  cursor: help; }
  #appInfo:hover, #appInfo:focus {
    color: #354347; }

blockquote {
  border-left: 4px solid #eef1f3;
  padding-left: 1.5rem;
  margin: 1rem 0; }
  blockquote p {
    margin-top: 0;
    font-size: 1.125rem; }
  blockquote small {
    font-weight: 400;
    font-style: italic;
    font-size: 1rem; }

.button, button {
  background: white;
  text-decoration: none;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
  border-color: #d1dadd;
  color: #b4c2c7;
  min-width: inherit; }
  .button:hover, .button:focus, button:hover, button:focus {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
    border-color: #b4c2c7;
    color: #b4c2c7; }
  .button:active, button:active {
    border-color: #839ba3;
    color: #839ba3; }
  .button.primary, button.primary {
    border-color: #ea4952;
    color: #ea4952; }
    .button.primary:hover, .button.primary:focus, button.primary:hover, button.primary:focus {
      border-color: #e72b36;
      color: #e72b36; }
    .button.primary:active, button.primary:active {
      border-color: #df1a25;
      color: #df1a25; }
  .button.secondary, button.secondary {
    border-color: #007bbb;
    color: #007bbb; }
    .button.secondary:hover, .button.secondary:focus, button.secondary:hover, button.secondary:focus {
      border-color: #00659a;
      color: #00659a; }
    .button.secondary:active, button.secondary:active {
      border-color: #005480;
      color: #005480; }
  .button:disabled, button:disabled {
    background: #f8f9fa;
    border-color: #eef1f3;
    color: #d1dadd;
    cursor: not-allowed; }
    .button:disabled:hover, .button:disabled:focus, .button:disabled:active, button:disabled:hover, button:disabled:focus, button:disabled:active {
      box-shadow: none;
      border-color: #eef1f3;
      color: #d1dadd; }

.close {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.15);
  text-decoration: none;
  font-weight: bold; }
  .close:hover, .close:focus {
    color: rgba(0, 0, 0, 0.2);
    text-decoration: none; }

input,
select,
textarea,
button,
.button,
.input {
  box-shadow: none;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-appearance: none;
  border: 1px solid #d1dadd;
  background: white;
  padding: 0.75rem;
  font-family: "Anonymous Pro", Helvetica, Arial, sans-serif !important;
  font-size: 0.875rem;
  outline: none;
  color: #68838c;
  margin: 0 0 1rem;
  text-decoration: none;
  min-width: 20rem; }
  input::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  button::-webkit-input-placeholder,
  .button::-webkit-input-placeholder,
  .input::-webkit-input-placeholder {
    color: #d1dadd; }
  input::-moz-placeholder,
  select::-moz-placeholder,
  textarea::-moz-placeholder,
  button::-moz-placeholder,
  .button::-moz-placeholder,
  .input::-moz-placeholder {
    color: #d1dadd; }
  input:-moz-placeholder,
  select:-moz-placeholder,
  textarea:-moz-placeholder,
  button:-moz-placeholder,
  .button:-moz-placeholder,
  .input:-moz-placeholder {
    color: #d1dadd; }
  input:-ms-input-placeholder,
  select:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  button:-ms-input-placeholder,
  .button:-ms-input-placeholder,
  .input:-ms-input-placeholder {
    color: #d1dadd; }
  input:last-child,
  select:last-child,
  textarea:last-child,
  button:last-child,
  .button:last-child,
  .input:last-child {
    margin-bottom: 0; }
  input:hover, input:focus,
  select:hover,
  select:focus,
  textarea:hover,
  textarea:focus,
  button:hover,
  button:focus,
  .button:hover,
  .button:focus,
  .input:hover,
  .input:focus {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
    border-color: #b4c2c7; }
    input:hover:focus, input:focus:focus,
    select:hover:focus,
    select:focus:focus,
    textarea:hover:focus,
    textarea:focus:focus,
    button:hover:focus,
    button:focus:focus,
    .button:hover:focus,
    .button:focus:focus,
    .input:hover:focus,
    .input:focus:focus {
      border-color: #839ba3; }

select {
  -webkit-appearance: none;
  background: url("/assets/images/icons/grey/arrow-bottom.svg") no-repeat right 1rem top 50%;
  background-size: 0.5rem; }

textarea {
  min-height: 6rem;
  resize: vertical; }

input:invalid,
textarea:invalid {
  color: #ff784b; }
  input:invalid:hover, input:invalid:focus,
  textarea:invalid:hover,
  textarea:invalid:focus {
    color: #ff784b; }
  input:invalid:focus,
  textarea:invalid:focus {
    border-color: #ff784b; }

.file-button {
  position: relative;
  overflow: hidden;
  margin: 0 0 1rem; }
  .file-button input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer !important; }
  .file-button .button {
    margin: 0; }

.checkbox-holder input, .radio-button-holder input {
  display: none; }
.checkbox-holder .checkbox, .checkbox-holder .radio-button, .radio-button-holder .checkbox, .radio-button-holder .radio-button {
  zoom: 1;
  height: 1.5rem;
  position: relative;
  cursor: pointer; }
  .checkbox-holder .checkbox:before, .checkbox-holder .checkbox:after, .checkbox-holder .radio-button:before, .checkbox-holder .radio-button:after, .radio-button-holder .checkbox:before, .radio-button-holder .checkbox:after, .radio-button-holder .radio-button:before, .radio-button-holder .radio-button:after {
    content: "";
    display: table; }
  .checkbox-holder .checkbox:after, .checkbox-holder .radio-button:after, .radio-button-holder .checkbox:after, .radio-button-holder .radio-button:after {
    clear: both; }
  .checkbox-holder .checkbox .indicator, .checkbox-holder .radio-button .indicator, .radio-button-holder .checkbox .indicator, .radio-button-holder .radio-button .indicator {
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border: 1px solid #d1dadd;
    width: 0.875rem;
    height: 0.875rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin: -0.4375rem 0 0;
    cursor: pointer; }
    .checkbox-holder .checkbox .indicator:after, .checkbox-holder .radio-button .indicator:after, .radio-button-holder .checkbox .indicator:after, .radio-button-holder .radio-button .indicator:after {
      -o-border-radius: 2px;
      border-radius: 2px;
      -webkit-transition: background 0.25s;
      transition: background 0.25s;
      opacity: 0;
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 0.5rem;
      height: 0.5rem;
      background: #d1dadd;
      margin-top: -0.25rem;
      margin-left: -0.25rem; }
  .checkbox-holder .checkbox label, .checkbox-holder .radio-button label, .radio-button-holder .checkbox label, .radio-button-holder .radio-button label {
    padding: 0 0 0 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.875rem;
    cursor: pointer; }
  .checkbox-holder .checkbox:hover .indicator, .checkbox-holder .checkbox:focus .indicator, .checkbox-holder .radio-button:hover .indicator, .checkbox-holder .radio-button:focus .indicator, .radio-button-holder .checkbox:hover .indicator, .radio-button-holder .checkbox:focus .indicator, .radio-button-holder .radio-button:hover .indicator, .radio-button-holder .radio-button:focus .indicator {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
    border-color: #b4c2c7; }
    .checkbox-holder .checkbox:hover .indicator:after, .checkbox-holder .checkbox:focus .indicator:after, .checkbox-holder .radio-button:hover .indicator:after, .checkbox-holder .radio-button:focus .indicator:after, .radio-button-holder .checkbox:hover .indicator:after, .radio-button-holder .checkbox:focus .indicator:after, .radio-button-holder .radio-button:hover .indicator:after, .radio-button-holder .radio-button:focus .indicator:after {
      opacity: 1;
      background: #d1dadd; }
  .checkbox-holder .checkbox:focus .indicator, .checkbox-holder .checkbox:active .indicator, .checkbox-holder .radio-button:focus .indicator, .checkbox-holder .radio-button:active .indicator, .radio-button-holder .checkbox:focus .indicator, .radio-button-holder .checkbox:active .indicator, .radio-button-holder .radio-button:focus .indicator, .radio-button-holder .radio-button:active .indicator {
    border-color: #839ba3; }
    .checkbox-holder .checkbox:focus .indicator:after, .checkbox-holder .checkbox:active .indicator:after, .checkbox-holder .radio-button:focus .indicator:after, .checkbox-holder .radio-button:active .indicator:after, .radio-button-holder .checkbox:focus .indicator:after, .radio-button-holder .checkbox:active .indicator:after, .radio-button-holder .radio-button:focus .indicator:after, .radio-button-holder .radio-button:active .indicator:after {
      background: #839ba3; }
  .checkbox-holder .checkbox.selected .indicator, .checkbox-holder .radio-button.selected .indicator, .radio-button-holder .checkbox.selected .indicator, .radio-button-holder .radio-button.selected .indicator {
    border-color: #b4c2c7; }
    .checkbox-holder .checkbox.selected .indicator:after, .checkbox-holder .radio-button.selected .indicator:after, .radio-button-holder .checkbox.selected .indicator:after, .radio-button-holder .radio-button.selected .indicator:after {
      opacity: 1;
      background: #6699cc; }
  .checkbox-holder .checkbox.selected:hover .indicator, .checkbox-holder .checkbox.selected:focus .indicator, .checkbox-holder .radio-button.selected:hover .indicator, .checkbox-holder .radio-button.selected:focus .indicator, .radio-button-holder .checkbox.selected:hover .indicator, .radio-button-holder .checkbox.selected:focus .indicator, .radio-button-holder .radio-button.selected:hover .indicator, .radio-button-holder .radio-button.selected:focus .indicator {
    border-color: #6699cc; }
  .checkbox-holder .checkbox.selected:focus .indicator, .checkbox-holder .checkbox.selected:active .indicator, .checkbox-holder .radio-button.selected:focus .indicator, .checkbox-holder .radio-button.selected:active .indicator, .radio-button-holder .checkbox.selected:focus .indicator, .radio-button-holder .checkbox.selected:active .indicator, .radio-button-holder .radio-button.selected:focus .indicator, .radio-button-holder .radio-button.selected:active .indicator {
    border-color: #4d88c4; }
    .checkbox-holder .checkbox.selected:focus .indicator:after, .checkbox-holder .checkbox.selected:active .indicator:after, .checkbox-holder .radio-button.selected:focus .indicator:after, .checkbox-holder .radio-button.selected:active .indicator:after, .radio-button-holder .checkbox.selected:focus .indicator:after, .radio-button-holder .checkbox.selected:active .indicator:after, .radio-button-holder .radio-button.selected:focus .indicator:after, .radio-button-holder .radio-button.selected:active .indicator:after {
      background: #4d88c4; }
  .checkbox-holder .checkbox.selected.disabled .indicator, .checkbox-holder .radio-button.selected.disabled .indicator, .radio-button-holder .checkbox.selected.disabled .indicator, .radio-button-holder .radio-button.selected.disabled .indicator {
    border-color: #eef1f3; }
  .checkbox-holder .checkbox.disabled, .checkbox-holder .radio-button.disabled, .radio-button-holder .checkbox.disabled, .radio-button-holder .radio-button.disabled {
    cursor: not-allowed; }
    .checkbox-holder .checkbox.disabled .indicator, .checkbox-holder .radio-button.disabled .indicator, .radio-button-holder .checkbox.disabled .indicator, .radio-button-holder .radio-button.disabled .indicator {
      background: #f8f9fa;
      border-color: #eef1f3;
      cursor: not-allowed; }
    .checkbox-holder .checkbox.disabled label, .checkbox-holder .radio-button.disabled label, .radio-button-holder .checkbox.disabled label, .radio-button-holder .radio-button.disabled label {
      color: #d1dadd;
      cursor: not-allowed; }
    .checkbox-holder .checkbox.disabled:hover .indicator, .checkbox-holder .checkbox.disabled:focus .indicator, .checkbox-holder .radio-button.disabled:hover .indicator, .checkbox-holder .radio-button.disabled:focus .indicator, .radio-button-holder .checkbox.disabled:hover .indicator, .radio-button-holder .checkbox.disabled:focus .indicator, .radio-button-holder .radio-button.disabled:hover .indicator, .radio-button-holder .radio-button.disabled:focus .indicator {
      box-shadow: none; }
      .checkbox-holder .checkbox.disabled:hover .indicator:after, .checkbox-holder .checkbox.disabled:focus .indicator:after, .checkbox-holder .radio-button.disabled:hover .indicator:after, .checkbox-holder .radio-button.disabled:focus .indicator:after, .radio-button-holder .checkbox.disabled:hover .indicator:after, .radio-button-holder .checkbox.disabled:focus .indicator:after, .radio-button-holder .radio-button.disabled:hover .indicator:after, .radio-button-holder .radio-button.disabled:focus .indicator:after {
        opacity: 0; }
    .checkbox-holder .checkbox.disabled:focus .indicator, .checkbox-holder .checkbox.disabled:active .indicator, .checkbox-holder .radio-button.disabled:focus .indicator, .checkbox-holder .radio-button.disabled:active .indicator, .radio-button-holder .checkbox.disabled:focus .indicator, .radio-button-holder .checkbox.disabled:active .indicator, .radio-button-holder .radio-button.disabled:focus .indicator, .radio-button-holder .radio-button.disabled:active .indicator {
      border-color: #eef1f3; }
      .checkbox-holder .checkbox.disabled:focus .indicator:after, .checkbox-holder .checkbox.disabled:active .indicator:after, .checkbox-holder .radio-button.disabled:focus .indicator:after, .checkbox-holder .radio-button.disabled:active .indicator:after, .radio-button-holder .checkbox.disabled:focus .indicator:after, .radio-button-holder .checkbox.disabled:active .indicator:after, .radio-button-holder .radio-button.disabled:focus .indicator:after, .radio-button-holder .radio-button.disabled:active .indicator:after {
        opacity: 0; }
    .checkbox-holder .checkbox.disabled.selected .indicator:after, .checkbox-holder .radio-button.disabled.selected .indicator:after, .radio-button-holder .checkbox.disabled.selected .indicator:after, .radio-button-holder .radio-button.disabled.selected .indicator:after {
      background: #d1dadd; }
    .checkbox-holder .checkbox.disabled.selected:hover .indicator:after, .checkbox-holder .checkbox.disabled.selected:focus .indicator:after, .checkbox-holder .checkbox.disabled.selected:active .indicator:after, .checkbox-holder .radio-button.disabled.selected:hover .indicator:after, .checkbox-holder .radio-button.disabled.selected:focus .indicator:after, .checkbox-holder .radio-button.disabled.selected:active .indicator:after, .radio-button-holder .checkbox.disabled.selected:hover .indicator:after, .radio-button-holder .checkbox.disabled.selected:focus .indicator:after, .radio-button-holder .checkbox.disabled.selected:active .indicator:after, .radio-button-holder .radio-button.disabled.selected:hover .indicator:after, .radio-button-holder .radio-button.disabled.selected:focus .indicator:after, .radio-button-holder .radio-button.disabled.selected:active .indicator:after {
      opacity: 1;
      background: #d1dadd; }
.checkbox-holder .radio-button .indicator, .radio-button-holder .radio-button .indicator {
  -o-border-radius: 100%;
  border-radius: 100%; }
  .checkbox-holder .radio-button .indicator:after, .radio-button-holder .radio-button .indicator:after {
    -o-border-radius: 100%;
    border-radius: 100%; }

.flash-message {
  background: url("/assets/images/other/loading.gif") no-repeat center center transparent;
  background-size: 22px 22px;
  min-height: 2rem;
  display: none;
  margin: 0 0 1rem; }

.label {
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.8125rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #b4c2c7;
  color: #b4c2c7; }
  .label.primary {
    border-color: #ea4952;
    color: #ea4952; }
  .label.secondary {
    border-color: #007bbb;
    color: #007bbb; }
  .label.numeric {
    -o-border-radius: 1.25rem;
    border-radius: 1.25rem;
    padding: 0 0.375rem;
    text-align: center;
    font-size: 0.6875rem;
    display: inline-block;
    min-width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    border: 0;
    color: white;
    background: #ff4040; }

ul, ol {
  line-height: 1.5;
  margin: 0 0 1rem 1.5rem; }
  ul li, ol li {
    margin: 0; }
  ul:last-child, ol:last-child {
    margin-bottom: 0; }

dl {
  line-height: 1.5; }
  dl dt {
    font-weight: 400;
    margin: 0.5rem 0 0; }
    dl dt:first-of-type {
      margin-top: 0; }
  dl dd {
    color: #68838c;
    font-size: 0.875rem; }

noscript #warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

table {
  max-width: 100%; }
  table tr td {
    border: 1px solid #d1dadd;
    padding: 0.5rem 1rem;
    color: #52676e; }
  table thead td, table tfoot td {
    font-weight: 400;
    color: #181e20;
    background: #f8f9fa; }

p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.5; }

p {
  margin: 1rem 0; }
  p:last-child {
    margin-bottom: 0; }
  p:first-child {
    margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Anonymous Pro", Helvetica, Arial, sans-serif; }
  h1:first-of-type, h2:first-of-type, h3:first-of-type, h4:first-of-type, h5:first-of-type, h6:first-of-type {
    margin-top: 0; }
  h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
    margin-bottom: 0; }

h1, h2, h3 {
  margin: 2rem 0 1rem; }

h4, h5, h6 {
  margin: 1rem 0 0.5rem; }

h1 {
  font-size: 2.375rem; }

h2 {
  font-size: 2.125rem; }

h3 {
  font-size: 1.875rem; }

h4 {
  font-size: 1.625rem; }

h5 {
  font-size: 1.375rem; }

h6 {
  font-size: 1.25rem; }

@media all and (max-width: 500px) {
  .flex-1,
  .flex-2,
  .flex-3,
  .flex-4,
  .flex-5,
  .flex-6 {
    -webkit-box-flex: initial;
    -webkit-flex: initial;
        -ms-flex: initial;
            flex: initial; } }

.flex-grid-2, .flex-grid-3, .flex-grid-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -2rem;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .flex-grid-2 .flex-item, .flex-grid-3 .flex-item, .flex-grid-4 .flex-item {
    margin-bottom: 2rem; }
    @media all and (max-width: 500px) {
      .flex-grid-2 .flex-item, .flex-grid-3 .flex-item, .flex-grid-4 .flex-item {
        width: 100% !important; } }
  .bordered.flex-grid-2 .flex-item, .bordered.flex-grid-3 .flex-item, .bordered.flex-grid-4 .flex-item {
    border-top: 1px solid #d1dadd;
    border-bottom: 1px solid #d1dadd;
    border-left: 1px solid #d1dadd; }
    .bordered.flex-grid-2 .flex-item:last-child, .bordered.flex-grid-3 .flex-item:last-child, .bordered.flex-grid-4 .flex-item:last-child {
      border-right: 1px solid #d1dadd; }
  .no-padding.flex-grid-2, .no-padding.flex-grid-3, .no-padding.flex-grid-4 {
    margin-left: 0; }
    .no-padding.flex-grid-2 .flex-item, .no-padding.flex-grid-3 .flex-item, .no-padding.flex-grid-4 .flex-item {
      padding: 0; }

.flex-grid-2 .flex-item {
  width: 50%; }

.flex-grid-3 .flex-item {
  width: 33.33%; }

.flex-grid-4 .flex-item {
  width: 25%; }

.align-right {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin-left: auto; }

.flex-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .flex-vertical .flex-item {
    padding: 0;
    padding-bottom: 2rem; }

.container-flex, .flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -2rem; }
  .container-flex.narrow, .flex-row.narrow {
    margin-left: -0.5rem; }
    .container-flex.narrow .flex-item, .flex-row.narrow .flex-item {
      padding-left: 0.5rem; }

.flex-item {
  padding-left: 2rem; }

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.flex-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2; }

.flex-3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3; }

.flex-4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
      -ms-flex: 4;
          flex: 4; }

.content-center-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.greyscale {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); }

#debug-grid {
  background-image: url("/assets/images/grid/grid.svg");
  background-repeat: repeat;
  background-position: left top;
  background-color: transparent;
  background-size: 1rem;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 999;
  width: 100%;
  min-height: 100vh; }

.block-center, .container-full-screen, .container-narrow, .page-sass .container-narrow header .logo {
  margin-left: auto;
  margin-right: auto; }

.block,
.show {
  display: block !important; }
  .block.block,
  .show.block {
    min-width: 100%; }

.hide {
  display: none !important; }

.invisible {
  visibility: hidden; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clearfix {
  clear: both; }

a,
.link,
.link-primary,
.link-secondary {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  cursor: pointer;
  text-decoration: underline;
  color: #ea4952; }
  a.link-secondary,
  .link.link-secondary,
  .link-primary.link-secondary,
  .link-secondary.link-secondary {
    color: #007bbb; }
    a.link-secondary:hover, a.link-secondary:focus,
    .link.link-secondary:hover,
    .link.link-secondary:focus,
    .link-primary.link-secondary:hover,
    .link-primary.link-secondary:focus,
    .link-secondary.link-secondary:hover,
    .link-secondary.link-secondary:focus {
      color: #00659a; }

.wipe-margin, .no-margin {
  margin: 0 !important; }

.wipe-padding, .no-padding {
  padding: 0 !important; }

.wipe-margin-padding, .file-button input[type="file"],
.wipe-padding-margin {
  margin: 0;
  padding: 0; }

.padding-vertical.unit-layout {
  padding: 1rem 0; }
.padding-vertical.double-unit-layout {
  padding: 2rem 0; }
.padding-vertical.triple-unit-layout {
  padding: 3rem 0; }

.padding-horizontal.unit-layout {
  padding: 0 1rem; }
.padding-horizontal.double-unit-layout {
  padding: 0 2rem; }
.padding-horizontal.triple-unit-layout {
  padding: 0 3rem; }

.margin-vertical.unit-layout {
  margin: 1rem 0; }
.margin-vertical.double-unit-layout {
  margin: 2rem 0; }
.margin-vertical.triple-unit-layout {
  margin: 3rem 0; }

.margin-horizontal.unit-layout {
  margin: 0 1rem; }
.margin-horizontal.double-unit-layout {
  margin: 0 2rem; }
.margin-horizontal.triple-unit-layout {
  margin: 0 3rem; }

.text-center, .close, .page-ooops .headline {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-justify {
  text-align: justify; }

.text-uppercase, .button, button {
  text-transform: uppercase;
  letter-spacing: 0.0625rem; }

.text-lowercase {
  text-transform: lowercase; }

.text-capitalize {
  text-transform: capitalize; }

.description {
  color: #b4c2c7; }

.container-full-screen, .container-narrow {
  zoom: 1;
  width: 100%; }
  .container-full-screen:before, .container-full-screen:after, .container-narrow:before, .container-narrow:after {
    content: "";
    display: table; }
  .container-full-screen:after, .container-narrow:after {
    clear: both; }

.container-narrow {
  max-width: 700px; }

.page-welcome,
.page-manifesto {
  -webkit-transition: background 0.2s;
  transition: background 0.2s; }
  .page-welcome .content-center-center,
  .page-manifesto .content-center-center {
    min-height: 100vh;
    padding: 2rem; }
    .page-welcome .content-center-center .container-narrow,
    .page-manifesto .content-center-center .container-narrow {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .page-welcome .content-center-center .container-narrow nav,
      .page-manifesto .content-center-center .container-narrow nav {
        min-width: 200px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-bottom: 1.5rem; }
        .page-welcome .content-center-center .container-narrow nav .logo,
        .page-manifesto .content-center-center .container-narrow nav .logo {
          margin-top: 1.5rem;
          width: 6.25rem;
          height: 3.125rem;
          display: block;
          background-image: url("/assets/images/logo/logo-jam.svg");
          background-repeat: no-repeat;
          background-position: left top;
          background-size: 80% auto;
          background-color: transparent;
          overflow: hidden; }
          .page-welcome .content-center-center .container-narrow nav .logo h1, .page-welcome .content-center-center .container-narrow nav .logo h2,
          .page-manifesto .content-center-center .container-narrow nav .logo h1,
          .page-manifesto .content-center-center .container-narrow nav .logo h2 {
            opacity: 0;
            font-size: 3.125rem; }
          .page-welcome .content-center-center .container-narrow nav .logo h2,
          .page-manifesto .content-center-center .container-narrow nav .logo h2 {
            font-size: 1rem; }
      .page-welcome .content-center-center .container-narrow article,
      .page-manifesto .content-center-center .container-narrow article {
        padding: 1rem 0 1.5rem; }
        .page-welcome .content-center-center .container-narrow article p,
        .page-manifesto .content-center-center .container-narrow article p {
          line-height: 2; }
        .page-welcome .content-center-center .container-narrow article form,
        .page-manifesto .content-center-center .container-narrow article form {
          padding-top: 2rem; }
          .page-welcome .content-center-center .container-narrow article form p,
          .page-manifesto .content-center-center .container-narrow article form p {
            line-height: 1.75;
            margin-bottom: 0;
            font-size: 0.8125rem; }
          .page-welcome .content-center-center .container-narrow article form input,
          .page-manifesto .content-center-center .container-narrow article form input {
            -o-border-radius: 0;
            border-radius: 0;
            box-shadow: none;
            background: transparent;
            margin: 0;
            width: 100%;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 1px dotted #181e20;
            padding-left: 0;
            color: #181e20;
            font-size: 0.8125rem; }
            .page-welcome .content-center-center .container-narrow article form input:hover, .page-welcome .content-center-center .container-narrow article form input:focus,
            .page-manifesto .content-center-center .container-narrow article form input:hover,
            .page-manifesto .content-center-center .container-narrow article form input:focus {
              color: #181e20;
              border-bottom-color: #181e20; }
            .page-welcome .content-center-center .container-narrow article form input:active,
            .page-manifesto .content-center-center .container-narrow article form input:active {
              color: #181e20;
              border-bottom-color: #181e20; }
  @media all and (max-width: 500px) {
    .page-welcome .content-center-center .container-narrow,
    .page-manifesto .content-center-center .container-narrow {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .page-welcome .content-center-center .container-narrow nav,
      .page-manifesto .content-center-center .container-narrow nav {
        padding-bottom: 0; }
        .page-welcome .content-center-center .container-narrow nav .logo,
        .page-manifesto .content-center-center .container-narrow nav .logo {
          margin-top: 0; }
        .page-welcome .content-center-center .container-narrow nav footer,
        .page-manifesto .content-center-center .container-narrow nav footer {
          padding: 1rem 0; } }
  .page-welcome a.back,
  .page-manifesto a.back {
    font-size: 0.875rem; }
  .page-welcome footer,
  .page-manifesto footer {
    font-size: 0.75rem;
    padding: 2rem 0 0; }
    .page-welcome footer a,
    .page-manifesto footer a {
      display: block;
      padding: 2px 0; }
  .page-welcome.dark,
  .page-manifesto.dark {
    background: #181e20; }
    .page-welcome.dark .content-center-center .container-narrow,
    .page-manifesto.dark .content-center-center .container-narrow {
      color: #d1dadd; }
      .page-welcome.dark .content-center-center .container-narrow nav .logo,
      .page-manifesto.dark .content-center-center .container-narrow nav .logo {
        background-image: url("/assets/images/logo/logo-jam-white.svg"); }
      .page-welcome.dark .content-center-center .container-narrow article form input,
      .page-manifesto.dark .content-center-center .container-narrow article form input {
        border-bottom-color: #d1dadd;
        color: #d1dadd; }
        .page-welcome.dark .content-center-center .container-narrow article form input:hover, .page-welcome.dark .content-center-center .container-narrow article form input:focus,
        .page-manifesto.dark .content-center-center .container-narrow article form input:hover,
        .page-manifesto.dark .content-center-center .container-narrow article form input:focus {
          color: #d1dadd;
          border-bottom-color: #d1dadd; }
        .page-welcome.dark .content-center-center .container-narrow article form input:active,
        .page-manifesto.dark .content-center-center .container-narrow article form input:active {
          color: #d1dadd;
          border-bottom-color: #d1dadd; }

.page-ooops {
  background: #ff6961;
  color: white;
  padding: 0 1rem; }
  .page-ooops header {
    margin: 4rem auto;
    width: 4rem;
    height: 4rem;
    background: url("/assets/images/icons/white/search.svg") no-repeat center center;
    background-size: contain; }
  .page-ooops .headline {
    font-size: 1.625rem; }
    .page-ooops .headline strong {
      display: block;
      padding: 0 0 1rem; }
    .page-ooops .headline a {
      color: white;
      font-size: 1.25rem; }
  .page-ooops footer {
    display: none; }

.page-sass .container-narrow header {
  padding: 8rem 0; }
  .page-sass .container-narrow header .logo {
    width: 12rem;
    height: 6rem;
    background: url("/assets/images/logo/logo-03.svg") no-repeat center center;
    background-size: contain;
    display: block; }
.page-sass .container-narrow section {
  padding: 0 0 2rem; }
  .page-sass .container-narrow section .section-headline {
    font-size: 1.875rem;
    border-bottom: 1px solid #eef1f3;
    font-family: "Anonymous Pro", Helvetica, Arial, sans-serif;
    color: #52676e; }
.page-sass .container-narrow article {
  zoom: 1;
  position: relative;
  margin: 3rem 0; }
  .page-sass .container-narrow article:before, .page-sass .container-narrow article:after {
    content: "";
    display: table; }
  .page-sass .container-narrow article:after {
    clear: both; }
  .page-sass .container-narrow article aside {
    zoom: 1;
    float: left;
    width: 70%; }
    .page-sass .container-narrow article aside:before, .page-sass .container-narrow article aside:after {
      content: "";
      display: table; }
    .page-sass .container-narrow article aside:after {
      clear: both; }
    .page-sass .container-narrow article aside:first-of-type {
      width: 30%;
      min-height: 1rem; }
      .page-sass .container-narrow article aside:first-of-type p {
        max-width: 26%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;
        color: #b4c2c7;
        font-size: 0.875rem;
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        height: 1rem;
        line-height: 1rem;
        margin-top: -0.5rem; }
    .page-sass .container-narrow article aside .color {
      width: 100%;
      height: 3rem;
      line-height: 3rem;
      margin: 0 0 1rem;
      position: relative;
      text-indent: 1rem;
      color: white;
      font-size: 0.75rem;
      font-weight: 400; }
      .page-sass .container-narrow article aside .color.red {
        background: #ff4040; }
      .page-sass .container-narrow article aside .color.blue {
        background: #6699cc; }
      .page-sass .container-narrow article aside .color.alert-warning {
        background: #dcc100; }
      .page-sass .container-narrow article aside .color.alert-info {
        background: #aec6cf; }
      .page-sass .container-narrow article aside .color.alert-success {
        background: #a9ce03; }
      .page-sass .container-narrow article aside .color.alert-error {
        background: #ff784b; }
      .page-sass .container-narrow article aside .color.grey {
        width: 50%;
        float: left; }
      .page-sass .container-narrow article aside .color.grey-50 {
        background: #f8f9fa;
        color: #839ba3; }
      .page-sass .container-narrow article aside .color.grey-100 {
        background: #eef1f3;
        color: #839ba3; }
      .page-sass .container-narrow article aside .color.grey-200 {
        background: #d1dadd; }
      .page-sass .container-narrow article aside .color.grey-300 {
        background: #b4c2c7; }
      .page-sass .container-narrow article aside .color.grey-400 {
        background: #a0b3b9; }
      .page-sass .container-narrow article aside .color.grey-500 {
        background: #839ba3; }
      .page-sass .container-narrow article aside .color.grey-600 {
        background: #68838c; }
      .page-sass .container-narrow article aside .color.grey-700 {
        background: #52676e; }
      .page-sass .container-narrow article aside .color.grey-800 {
        background: #354347; }
      .page-sass .container-narrow article aside .color.grey-900 {
        background: #181e20; }
      .page-sass .container-narrow article aside .color .light, .page-sass .container-narrow article aside .color .lighter, .page-sass .container-narrow article aside .color .dark, .page-sass .container-narrow article aside .color .darker {
        position: absolute;
        width: 25%;
        height: 3rem;
        line-height: 3.0625rem;
        bottom: 0;
        left: 25%;
        font-weight: 400;
        font-size: 0.625rem; }
        .page-sass .container-narrow article aside .color .light.lighter, .page-sass .container-narrow article aside .color .lighter.lighter, .page-sass .container-narrow article aside .color .dark.lighter, .page-sass .container-narrow article aside .color .darker.lighter {
          left: 0%; }
        .page-sass .container-narrow article aside .color .light.dark, .page-sass .container-narrow article aside .color .lighter.dark, .page-sass .container-narrow article aside .color .dark.dark, .page-sass .container-narrow article aside .color .darker.dark {
          left: 50%; }
        .page-sass .container-narrow article aside .color .light.darker, .page-sass .container-narrow article aside .color .lighter.darker, .page-sass .container-narrow article aside .color .dark.darker, .page-sass .container-narrow article aside .color .darker.darker {
          left: 75%; }
      .page-sass .container-narrow article aside .color.primary {
        background: #ea4952;
        height: 8rem; }
        .page-sass .container-narrow article aside .color.primary .lighter {
          background: #ef747b; }
        .page-sass .container-narrow article aside .color.primary .light {
          background: #ed676e; }
        .page-sass .container-narrow article aside .color.primary .dark {
          background: #e72b36; }
        .page-sass .container-narrow article aside .color.primary .darker {
          background: #df1a25; }
      .page-sass .container-narrow article aside .color.secondary {
        background: #007bbb;
        height: 8rem; }
        .page-sass .container-narrow article aside .color.secondary .lighter {
          background: #009beb; }
        .page-sass .container-narrow article aside .color.secondary .light {
          background: #0091dc; }
        .page-sass .container-narrow article aside .color.secondary .dark {
          background: #00659a; }
        .page-sass .container-narrow article aside .color.secondary .darker {
          background: #005480; }
