# app config

welcomePage:

	"/"

userPage:

	"/dashboard"

logoutPage:

	"/logout"

ooopsPage:

	"/ooops"

siteName:

	"JAM"

description:

	"We're sharing the stories behind great products."

keywords:

	"jam"

dateTime:

	"Europe/London"

langs:

	- "en"
	- "fr"

lang:

	"en"

encoding:

	"UTF-8"

contactMail:

	email: "info@domain.com"
	title: "litchi Support"

author:

	name: "Slavomir Vojacek"
	web: "http://www.slavomirvojacek.com"

SMTP:

	host: ""
	port: 465
	login: ""
	password: ""