<div class="flex-container-master">
	<nav id="side-nav">
		<a class="logo" href="/">J</a>
		<ul>
			<li><a href="#">Nav item 1</a></li>
			<li><a href="#">Nav item 2</a></li>
			<li><a href="#">Nav item 3</a></li>
			<li><a href="#">Nav item 4</a></li>
			<li><a href="#">Nav item 5</a></li>
			<li><a href="#">Nav item 6</a></li>
		</ul>
	</nav>

	<div class="flex-content">
		<div class="flex-item"></div>
		<div class="flex-item"></div>
		<div class="flex-item"></div>
		<div class="flex-item"></div>
		<div class="flex-item"></div>
		<div class="flex-item"></div>

		<div class="masthead"></div>
	</div>
</div>